.traveler__button-correct {
  margin: 5px 0 0;
  padding: 0;
  border: 1px solid #FFF;
  width: 25px;
  height: 25px;
  background-color: #000;
  background-image: url(../../../images/corrector.svg);
  background-size: 10px;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  transition: opacity .3s ease-in-out;
}

@media screen and (max-width: 950px) {
  .traveler__button-correct {
    width: 18px;
    height: 18px;
  }
}

.traveler__button-correct:hover {
  opacity: 0.6;
}