.card__description {
  font-weight: 900;
  font-size: 24px;
  line-height: 1.2;
  color: #000000;
  padding: 0;
  margin: 0;
  max-width: 188px;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}