.traveler__about {
  margin: 0;
  padding: 10px 0 0;
  max-width: 510px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media screen and (max-width: 950px) {
  .traveler__about {
    padding: 9px 0 0;
    max-width: 282px;
    font-size: 14px;
    line-height: 1.2;
  }
}