.cards {
  box-sizing: border-box;
  max-width: 918px;
  width: 100%;
  margin: 0 auto;
  padding: 0 19px;
}

@media screen and (max-width: 950px) {
  .cards {
    max-width: 619px;
  }
}

@media screen and (max-width: 650px) {
  .cards {
    max-width: 320px;
  }
}