@import "../../vars";

.form-register {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 80px;
  height: var(--height-without-header-ladge);


  &__header {
    min-height: 139px;

    &__text {
      font-weight: 900;
      font-size: 24px;
      line-height: 1.2;
      padding: 60px 0 50px;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: calc(var(--height-without-header-ladge) - 139px);
    width: 358px;
  }

  &__input {
    min-height: 19px;
    box-sizing: border-box;
    border-bottom: var(--border-bottom2);

    &__content {
      box-sizing: border-box;
      border: 0;
      font-size: 14px;
      line-height: 1.2;
      min-width: 358px;
      margin-bottom: 13px;
    }
  }

  &__validation {
    min-height: 30px;
  }

  &__submit {
    padding: 0;
    margin: 0 auto;
    width: 358px;
    height: 50px;
    border-radius: 2px;
    transition: var(--transition);
    cursor: pointer;

    &:hover {
      opacity: var(--opacity);
    }
  }

  &__additionally {
    text-align: center;
    padding-top: 15px;
    width: 358px;
    min-height: 32px;
    font-size: 14px;
    line-height: 1.2;

    &__link {
      padding-left: 5px;
      text-decoration: none;
      color: white;
      cursor: pointer;
      transition: var(--transition);

      &:hover {
        opacity: var(--opacity);
      }
    }
  }
}