.popup__header-confirm {
    margin: 0;
    padding: 0;
    font-weight: 900;
    font-size: 24px;
    line-height: 1.2;
    color: #000000;
  }
  
  @media screen and (max-width: 650px) {
    .popup__header-confirm {
      font-size: 18px;
      padding: 0;
    }
  }