.header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0 auto;
  padding: 0px;
  max-width: 880px;
  min-height: 119px;
  border-bottom: 1px solid rgba(84, 84, 84, .7);
}

@media screen and (max-width: 950px) {
  .header {
    box-sizing: border-box;
    max-width: 320px;
    min-height: 84px;
    padding-left: 27px;
  }
}